*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.container{
  width:1200px;
  margin:auto;
}


body{
  margin:0;
  font-family: "Oswald", sans-serif;
  background:#fff;
}

/* center hero */
.hero{
  width:100%;
  max-width:1440px;
  margin:0 auto;
}

/* nav center fix */
.navigation-bar{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:24px 0;
}

/* menu align */
.link{
  margin-left:auto;
}

/* hero content center */
.content{
  margin-top:40px;
}

/* heading size fix */
.turn-your-amazon-struggles-into-success-save-time-maximize-profits{
  font-size:64px;
  line-height:72px;
  max-width:900px;
}

/* main button shadow */
.button2{
  box-shadow:0 6px 0 #000;
}




/* responsive */
@media(max-width:1024px){
  .navigation-bar{
    padding:24px 40px;
  }

  .hero{
    padding:0 40px 120px 40px;
  }

  .turn-your-amazon-struggles-into-success-save-time-maximize-profits{
    font-size:48px;
    line-height:56px;
  }


}

@media(max-width:600px){
  .navigation-bar{
    flex-direction:column;
    gap:20px;
  }

  .link{
    gap:20px;
  }

  .turn-your-amazon-struggles-into-success-save-time-maximize-profits{
    font-size:34px;
    line-height:40px;
  }
}

/* ================ */

.hero {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 165, 0, 0.1) 100%
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  padding: 0px 120px 200px 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  position: relative;
}
.navigation-bar {
  border-radius: 16px;
  padding: 24px 120px 24px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  position: relative;
}
.logo {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.link {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}


.get-started {
  color:  #ffa500;
  text-align: left;
}
.get-started2 {
  color: #4f4d4d;
  text-align: left;
}

.button {
  background: #ffa500;
  border-radius: 40px;
  border-style: solid;
  border-color: #000000;
  border-width: 0px 3px 3px 0px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.get-started3 {
  color:#ffffff;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 820px;
  position: relative;
}
.badge-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  position: relative;
}
.badge {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.image-6 {
  border-radius: 8px;
  border-style: solid;
  border-color: #ececec;
  border-width: 1px;
  width: 64px;
  height: 30px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 64/30;
}
.get-started4 {
  text-align: left;
}
.get-started-4-span {
  color: var(--color-text-02, #151515);
}
.get-started-4-span2 {
  color: var(--color-primary-primary, #ffa500);
}
.turn-your-amazon-struggles-into-success-save-time-maximize-profits {
  text-align: center;
  font-family: var(
    --text-heading-h1-font-family,
    "Oswald-SemiBold",
    sans-serif
  );
  font-size: var(--text-heading-h1-font-size, 72px);
  line-height: var(--text-heading-h1-line-height, 80px);
  letter-spacing: var(--text-heading-h1-letter-spacing, -0.02em);
  font-weight: var(--text-heading-h1-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.turn-your-amazon-struggles-into-success-save-time-maximize-profits-span {
  color: var(--color-text-02, #151515);
}
.turn-your-amazon-struggles-into-success-save-time-maximize-profits-span2 {
  color: var(--color-primary-primary, #ffa500);
}
.button2 {
  background: var(--color-primary-primary, #ffa500);
  border-radius: 39px;
  border-style: solid;
  border-color: #000000;
  border-width: 0px 3px 3px 0px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.get-started5 {
  color:  #ffffff;
  text-align: center;
}
.total-incomes-container {
  width: 227px;
  height: 177px;
  position: static;
}
.total-incomes-background {
  background: var(--color-bg-01, #ffffff);
  border-radius: 16px;
  border-style: solid;
  border-color: var(--color-stroke-02, #ececec);
  border-width: 1px;
  width: 227px;
  height: 177px;
  position: absolute;
  left: 45.9px;
  top: 365px;
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.08);
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.total-incomes-text {
  color: var(--color-text-02, #151515);
  text-align: left;
  font-family: var(
    --text-button-large-font-family,
    "Oswald-Medium",
    sans-serif
  );
  font-size: var(--text-button-large-font-size, 16px);
  line-height: var(--text-button-large-line-height, 18px);
  letter-spacing: var(--text-button-large-letter-spacing, -0.02em);
  font-weight: var(--text-button-large-font-weight, 500);
  position: absolute;
  left: 65.69px;
  top: 375.97px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.month-container {
  width: 19px;
  height: 74px;
  position: static;
}
.january-background {
  background: var(--color-stroke-01, #f2f2f2);
  border-radius: 10px;
  width: 19px;
  height: 59px;
  position: absolute;
  left: 89.52px;
  top: 440.92px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.january-text {
  color: var(--color-text-04, #666666);
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 110.45px;
  top: 499.41px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.month-container2 {
  width: 19px;
  height: 95px;
  position: static;
}
.february-background {
  background: var(--color-stroke-01, #f2f2f2);
  border-radius: 10px;
  width: 19px;
  height: 80px;
  position: absolute;
  left: 116.41px;
  top: 411.36px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.february-text {
  color: var(--color-text-04, #666666);
  text-align: center;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 143.13px;
  top: 490.04px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.month-container3 {
  width: 19px;
  height: 77px;
  position: static;
}
.march-background {
  background: var(--color-stroke-01, #f2f2f2);
  border-radius: 10px;
  width: 19px;
  height: 62px;
  position: absolute;
  left: 154.06px;
  top: 419.29px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.march-text {
  color: var(--color-text-04, #666666);
  text-align: center;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 175.82px;
  top: 480.67px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.april-background {
  background: var(--color-primary-primary, #ffa500);
  border-radius: 10px;
  width: 19px;
  height: 80px;
  position: absolute;
  left: 181.78px;
  top: 392.62px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.april-text {
  color: var(--color-text-04, #666666);
  text-align: center;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 209.46px;
  top: 471.02px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.month-container4 {
  width: 19px;
  height: 49px;
  position: static;
}
.may-background {
  background: var(--color-stroke-01, #f2f2f2);
  border-radius: 10px;
  width: 19px;
  height: 34px;
  position: absolute;
  left: 227.14px;
  top: 427.46px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.may-text {
  color: var(--color-text-04, #666666);
  text-align: center;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 240.22px;
  top: 462.2px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.month-container5 {
  width: 19px;
  height: 105px;
  position: static;
}
.june-background {
  background: var(--color-stroke-01, #f2f2f2);
  border-radius: 10px;
  width: 19px;
  height: 90px;
  position: absolute;
  left: 244.38px;
  top: 364.26px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.june-text {
  color: var(--color-text-04, #666666);
  text-align: center;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 273.87px;
  top: 452.56px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.review-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1167.15px;
  top: 302px;
  transform-origin: 0 0;
  transform: rotate(16deg) scale(1, 1);
}
.users-rating {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.group-2085664366 {
  width: 88px;
  height: 40.64px;
  position: static;
}
.image {
  border-radius: 50%;
  border-style: solid;
  border-color: #fff5e4;
  border-width: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 5.68px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image2 {
  border-radius: 50%;
  border-style: solid;
  border-color: #fff5e4;
  border-width: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 24px;
  top: 6.32px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image3 {
  border-radius: 50%;
  border-style: solid;
  border-color: #fff5e4;
  border-width: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 48px;
  top: 6.32px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-2085666114 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  position: relative;
}


.star {
  width: 18px;
  height: 18px;
  position: relative;
}

