*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.container{
  width:1200px;
  margin:auto;
}


body{
  margin:0;
  font-family: "Oswald", sans-serif;
  background:#fff;
}

/* center hero */
.hero{
  width:100%;
  max-width:1440px;
  margin:0 auto;
}

/* nav center fix */
.navigation-bar{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:24px 0;
}

/* menu align */
.link{
  margin-left:auto;
}

/* hero content center */
.content{
  margin-top:40px;
}

/* heading size fix */
.turn-your-amazon-struggles-into-success-save-time-maximize-profits{
  font-size:64px;
  line-height:72px;
  max-width:900px;
}

/* main button shadow */
.button2{
  box-shadow:0 6px 0 #000;
}




/* responsive */
@media(max-width:1024px){
  .navigation-bar{
    padding:24px 40px;
  }

  .hero{
    padding:0 40px 120px 40px;
  }

  .turn-your-amazon-struggles-into-success-save-time-maximize-profits{
    font-size:48px;
    line-height:56px;
  }


}

@media(max-width:600px){
  .navigation-bar{
    flex-direction:column;
    gap:20px;
  }

  .link{
    gap:20px;
  }

  .turn-your-amazon-struggles-into-success-save-time-maximize-profits{
    font-size:34px;
    line-height:40px;
  }
}

/* ================ */

.hero {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 165, 0, 0.1) 100%
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  padding: 0px 120px 200px 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  position: relative;
}
.navigation-bar {
  border-radius: 16px;
  padding: 24px 120px 24px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  position: relative;
}
.logo {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.link {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}


.get-started {
  color:  #ffa500;
  text-align: left;
}
.get-started2 {
  color: #4f4d4d;
  text-align: left;
}

.button {
  background: #ffa500;
  border-radius: 40px;
  border-style: solid;
  border-color: #000000;
  border-width: 0px 3px 3px 0px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.get-started3 {
  color:#ffffff;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 820px;
  position: relative;
}
.badge-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  position: relative;
}
.badge {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.image-6 {
  border-radius: 8px;
  border-style: solid;
  border-color: #ececec;
  border-width: 1px;
  width: 64px;
  height: 30px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 64/30;
}
.get-started4 {
  text-align: left;
}
.get-started-4-span {
  color: #151515;
}
.get-started-4-span2 {
  color: #ffa500;
}
.banner-title {
  text-align: center;
  font-size: 72px;
  line-height:  80px;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.title-color-black {
  color:  #151515;
}
.title-color-yellow{
  color:  #ffa500;
}
.button2 {
  background: #ffa500;
  border-radius: 39px;
  border-style: solid;
  border-color: #000000;
  border-width: 0px 3px 3px 0px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.get-started5 {
  color:  #ffffff;
  text-align: center;
}
.total-incomes-container {
  width: 227px;
  height: 177px;
  position: static;
}
.total-incomes-background {
  background:  #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color:  #ececec;
  border-width: 1px;
  width: 227px;
  height: 177px;
  position: absolute;
  left: 45.9px;
  top: 365px;
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.08);
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.total-incomes-text {
  color:#151515;
  text-align: left;
  position: absolute;
  left: 65.69px;
  top: 375.97px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.month-container {
  width: 19px;
  height: 74px;
  position: static;
}
.january-background {
  background:  #f2f2f2;
  border-radius: 10px;
  width: 19px;
  height: 59px;
  position: absolute;
  left: 89.52px;
  top: 440.92px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.january-text {
  color:  #666666;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 110.45px;
  top: 499.41px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.month-container2 {
  width: 19px;
  height: 95px;
  position: static;
}
.february-background {
  background:  #f2f2f2;
  border-radius: 10px;
  width: 19px;
  height: 80px;
  position: absolute;
  left: 116.41px;
  top: 411.36px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.february-text {
  color: #666666;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 143.13px;
  top: 490.04px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.month-container3 {
  width: 19px;
  height: 77px;
  position: static;
}
.march-background {
  background:  #f2f2f2;
  border-radius: 10px;
  width: 19px;
  height: 62px;
  position: absolute;
  left: 154.06px;
  top: 419.29px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.march-text {
  color:  #666666;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 175.82px;
  top: 480.67px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.april-background {
  background:  #ffa500;
  border-radius: 10px;
  width: 19px;
  height: 80px;
  position: absolute;
  left: 181.78px;
  top: 392.62px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.april-text {
  color: #666666;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 209.46px;
  top: 471.02px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.month-container4 {
  width: 19px;
  height: 49px;
  position: static;
}
.may-background {
  background: #f2f2f2;
  border-radius: 10px;
  width: 19px;
  height: 34px;
  position: absolute;
  left: 227.14px;
  top: 427.46px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.may-text {
  color: #666666;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 240.22px;
  top: 462.2px;
}
.month-container5 {
  width: 19px;
  height: 105px;
  position: static;
}
.june-background {
  background:#f2f2f2;
  border-radius: 10px;
  width: 19px;
  height: 90px;
  position: absolute;
  left: 244.38px;
  top: 364.26px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.june-text {
  color: var(--color-text-04, #666666);
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  left: 273.87px;
  top: 452.56px;
  transform-origin: 0 0;
  transform: rotate(-16deg) scale(1, 1);
}
.review-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1167.15px;
  top: 302px;
  transform-origin: 0 0;
  transform: rotate(16deg) scale(1, 1);
}
.users-rating {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.group-2085664366 {
  width: 88px;
  height: 40.64px;
  position: static;
}
.image {
  border-radius: 50%;
  border-style: solid;
  border-color: #fff5e4;
  border-width: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 5.68px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image2 {
  border-radius: 50%;
  border-style: solid;
  border-color: #fff5e4;
  border-width: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 24px;
  top: 6.32px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image3 {
  border-radius: 50%;
  border-style: solid;
  border-color: #fff5e4;
  border-width: 2px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 48px;
  top: 6.32px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-2085666114 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  position: relative;
}


.star {
  width: 18px;
  height: 18px;
  position: relative;
}




/* social*/

.social-proof {
  background: #ffffff;
  padding: 60px 120px 60px 120px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;

}
.amazon-market-statistics-worldwide-2024 {
  color: #151515;
  text-align: center;
  font-size: 24px;
  line-height:  32px;
  letter-spacing: -0.02em;
  font-weight: 600;

}
.social-proof2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  max-width: 1296px;
  position: relative;
}
.partners {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color:  #ececec;
  border-width: 1px;
  padding: 32px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 164px;
}
.statistic {
  color:  #151515;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  font-weight:  600;
  position: relative;
  align-self: stretch;
}
.label {
  color:  #4f4d4d;
  text-align: center;
  font-size: 18px;
  line-height:  28px;
  letter-spacing:-0.02em;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.active-user {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color:  #ececec;
  border-width: 1px;
  padding: 32px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 164px;
  position: relative;
}
.revenue {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color:  #ececec;
  border-width: 1px;
  padding: 32px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 164px;
  
}
.investment {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: #ececec;
  border-width: 1px;
  padding: 32px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 164px;
}


/* Our story section er css*/
.story-section *{
  box-sizing:border-box;
}

.story-section{
  background:#fff;
  padding:40px 120px 100px;
  display:flex;
  flex-direction:column;
  gap:40px;
  align-items:center;
}

.story-badge-text{
  display:flex;
  flex-direction:column;
  gap:16px;
  align-items:center;
  width:740px;
}

.story-badge{
  display:flex;
  gap:8px;
  align-items:center;
}

.story-badge-img{
  width:64px;
  height:30px;
  border:1px solid #ececec;
  border-radius:8px;
  object-fit:cover;
}

.story-badge-title{
  font-size:16px;
}

.story-badge-dark{
  color:#151515;
}

.story-badge-orange{
  color:#ffa500;
}

.story-text{
  display:flex;
  flex-direction:column;
  gap:16px;
  align-items:center;
}

.story-title{
  text-align:center;
  font-size:40px;
  line-height:48px;
  font-weight:600;
}

.story-title-dark{
  color:#151515;
}

.story-title-orange{
  color:#ffa500;
}

.story-desc{
  text-align:center;
  font-size:18px;
  line-height:28px;
  width:552px;
}

.story-desc-dark{
  color:#4f4d4d;
}

.story-desc-orange{
  color:#ffa500;
}

/* button */
.story-btn{
  background:#ffa500;
  border-radius:39px;
  border:0 solid #000;
  border-width:0 3px 3px 0;
  padding:16px 32px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.story-btn-text{
  color:#fff;
  font-size:16px;
  font-weight:500;
}

/* why choose */
.why-choose-us,
.why-choose-us * {
  box-sizing: border-box;
}
.why-choose-us {
  background: var(--color-bg-02, #151515);
  padding: 100px 120px 100px 120px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 560px;
  position: relative;
}
.tag-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.badge {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-6 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-stroke-02, #ececec);
  border-width: 1px;
  flex-shrink: 0;
  width: 64px;
  height: 30px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 64/30;
}
.get-started {
  text-align: left;
  font-family: var(
    --text-paragraph-p2-font-family,
    "Oswald-Regular",
    sans-serif
  );
  font-size: var(--text-paragraph-p2-font-size, 16px);
  line-height: var(--text-paragraph-p2-line-height, 26px);
  letter-spacing: var(--text-paragraph-p2-letter-spacing, -0.02em);
  font-weight: var(--text-paragraph-p2-font-weight, 400);
  position: relative;
}
.get-started-span {
  color: var(--color-text-01, #ffffff);
}
.get-started-span2 {
  color: var(--color-primary-primary, #ffa500);
}
.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 560px;
  position: relative;
}
.heading {
  text-align: left;
  font-family: var(
    --text-heading-h2-font-family,
    "Oswald-SemiBold",
    sans-serif
  );
  font-size: var(--text-heading-h2-font-size, 56px);
  line-height: var(--text-heading-h2-line-height, 64px);
  letter-spacing: var(--text-heading-h2-letter-spacing, -0.02em);
  font-weight: var(--text-heading-h2-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.heading-span {
  color: var(--color-text-01, #ffffff);
}
.heading-span2 {
  color: var(--color-primary-primary, #ffa500);
}
.body-text {
  color: var(--color-text-01, #ffffff);
  text-align: left;
  font-family: var(
    --text-paragraph-p1-font-family,
    "Oswald-Regular",
    sans-serif
  );
  font-size: var(--text-paragraph-p1-font-size, 18px);
  line-height: var(--text-paragraph-p1-line-height, 28px);
  letter-spacing: var(--text-paragraph-p1-letter-spacing, -0.02em);
  font-weight: var(--text-paragraph-p1-font-weight, 400);
  opacity: 0.9;
  position: relative;
  align-self: stretch;
}
.button {
  background: var(--color-primary-primary, #ffa500);
  border-radius: 39px;
  border-style: solid;
  border-color: var(--color-stroke-02, #ececec);
  border-width: 0px 3px 3px 0px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.get-started2 {
  color: var(--color-text-01, #ffffff);
  text-align: center;
  position: relative;
}

.group-2085664388 {
  position: absolute;
  inset: 0;
}

.exclusive-partnerships {
  color: var(--color-text-01, #ffffff);
  text-align: left;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

